@model VincentRestorant.Models.Information

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Information</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Icon_img)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Icon_img)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titlecontent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titlecontent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Informationcontent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Informationcontent)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
