@model VincentRestorant.Models.Adres_First

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Adres_First</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.WorkingHouse)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.WorkingTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Img)
        </dt>

        <dd>
            <img width="400" src="~/assets/images/img/@Model.Img" class="img-thumbnail" />

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adres)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.WorkingHouse)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.WorkingTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
